{% extends 'base.html.twig' %}

{% block body %}
    <h2>Ajoutez un tournoi</h2>
    {{ form_start(form) }}
    {{ form_widget(form._token) }}
    <div class="row">
        <div class="form-group col-md-4">
            {{ form_row(form.name) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_row(form.city) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_row(form.date) }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            {{ form_row(form.ageCategories) }}
        </div>
        <div class="form-group col-md-4">
            {{ form_row(form.genderCategories) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}

{% block title %}
Ajouter un tournoi
{% endblock %}

