{% extends 'base.html.twig' %}

{% block title %}Liste des tournois{% endblock %}

{% block body %}
    <div>
        <a class="btn btn-outline-dark btn-sm mb-2" href="{{ path('add_tournament') }}">Nouveau</a>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th scope="col">Nom</th>
                <th scope="col">Ville</th>
                <th scope="col">Date</th>
                <th scope="col">Catégorie d'âge</th>
                <th scope="col">Genre</th>
                <th scope="col">Rondes</th>
                <th scope="col">Joueurs</th>
            </tr>
            </thead>
            <tbody>
            {% for tournament in tournaments %}
                <tr>
                    <td><a class="btn" href="{{ path('tournament_start',{id: tournament.id} ) }}" ><i class="fa fa-play-circle fa-lg "></i></a></td>
                    <td>{{ tournament.name }}</td>
                    <td>{{ tournament.city }}</td>
                    <td>{{ tournament.date | date("d-m-Y") }}</td>
                    <td>
                        {% for value in tournament.ageCategories %}
                        {{ value }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for value in tournament.genderCategories %}
                        {{ value }}
                        {% endfor %}
                    </td>
                    <td>{{ tournament.roundsNumber }}</td>
                    <td>{{ tournament.maxPlayers }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
