{% extends 'base.html.twig' %}

{% block title %}
    Commencer le tournoi
{% endblock %}

{% block body %}
    <div class="tourn-head">
        <h2> Bienvenue au {{ tournament.name }} </h2>

        <ul>
            <li>Le {{ tournament.date | date("d-m-Y") }} à {{ tournament.city }}</li>
            <li>Catégories d'âge: {% for value in tournament.ageCategories %}
                    {{ value }}
                {% endfor %}</li>
            <li>Catégories de genre: {% for value in tournament.genderCategories %}
                    {{ value }}
                {% endfor %}</li>
            <li>Tournoi en {{ tournament.roundsNumber }}  rounds de {{ (tournament.maxPlayers/2) |round (0, 'ceil') }} match</li>
        </ul>
        <h4>Joueurs</h4>
        <ul>
        {% for player in players %}
            <li>{{ player.lastName }} {{ player.firstName }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="tourn-matches-list">
        {% for match in matches %}
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li>{{ match.player1.firstname }} {{ match.player1.lastname }}</li>
                        <li>{{ match.player2.firstname }} {{ match.player2.lastname }}</li>
                        <li> Round #{{ match.round }}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

