{% extends 'base.html.twig' %}

{% block title %}
    Commencer le tournoi
{% endblock %}

{% block body %}
    <div class="tourn-head">
        <h2> Bienvenue au {{ tournament.name }} </h2>

        <ul>
            <li>Le {{ tournament.date | date("d-m-Y") }} à {{ tournament.city }}</li>
            <li>Catégories d'âge: {% for value in tournament.ageCategories %}
                    {{ value }}
                {% endfor %}</li>
            <li>Catégories de genre: {% for value in tournament.genderCategories %}
                    {{ value }}
                {% endfor %}</li>
            <li>Tournoi en {{ tournament.roundsNumber }}  rounds de {{ (tournament.maxPlayers/2) |round (0, 'ceil') }} match</li>
        </ul>
        <h4>Joueurs</h4>
        <ul>
        {% for player in players %}
            <li>{{ player.lastName }} {{ player.firstName }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="tourn-matches-list">
        {{ form_start(form) }}
        {% set color = ['solid', 'regular'] %}
        {% for i in 1..roundsNumber %}
            <div class="round">
                <button class="btn btn-outline-dark btn-sm mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#roundCollapse{{ i }}" aria-expanded="false" aria-controls="roundCollapse{{ i }}">Round #{{ i }}</button>
                <div class="collapse row" id="roundCollapse{{ i }}">
                {% for match in matches %}
                    {% if match.round == i %}
                            <div class="card col-3">
                                <div class="card-body">
                                    <ul>
                                        <li><i class="fa-{{ color[0] }} fa-chess-king me-2"></i>{{ match.player1.firstname }} {{ match.player1.lastname }}</li>
                                        <li><i class="fa-{{ color[1] }} fa-chess-king me-2"></i>{{ match.player2.firstname }} {{ match.player2.lastname }}</li>
                                    </ul>
                                    {{ form_row(form.results) }}
                                </div>
                            </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% set color = color|reverse %}
        {% endfor %}
        {{ form_end() }}
    </div>

{% endblock %}

